.container {
    padding: 6px 12px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: var(--bg-color);

    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 2px 4px var(--shadow-color);
    }

    .init {
        color: #999;
    }
    .connecting {
        color: #ffae00;
    }
    .connected {
        color: #00800b;
    }
    .disconnected {
        color: #ff0000;
    }
}